* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body{
  background: linear-gradient(135deg, #FF512F 0%, #DD2476 100%);
  /* background: linear-gradient(135deg, #6366f1 , #ec4899 100%); */
  /* background: linear-gradient(90deg, #090979 0%, #00d4ff 100%); */
  /* background: linear-gradient(to bottom right, #72FFB6 0%, #10D164 100%); */
  /* background: linear-gradient(to bottom right, #FF61D2 0%, #FE9090 100%); */
  /* background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); */
  /* background: linear-gradient(to right, #00b09b, #96c93d); */
  /* background: linear-gradient(135deg, #020024 0%, #090979 50%, #00d4ff 100%); */
  /* background: linear-gradient(135deg, #1e3a8a 0%, #6366f1 100%); */
/* background: linear-gradient(to bottom, #0f172a, #1e293b); */








}
h1 {
  background-color: #081b31;
  color: #fff;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: #081b31;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}